/* Color pallette from brighest to darkest:
#E4F9F5
#30E3CA
#11999E
#40514E
*/

body {
    background-color: #E4F9F5;
    margin: auto;
    max-width: 90%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #40514E;
    margin: 3rem;
}

#toDoListContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-around;
    align-items: top;
}

#toDoCounter {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    top: 0;
    font-size: 30px;
    font-family: 'Merienda';
    color: #40514E;
    justify-content: space-around;
    align-items: center;
}

#toDoCounter > h1 {
    margin: 0;
    text-align: center;
}

#inputDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.header {
    font-size: 50px;
    font-family: 'Merienda';
    color: #40514E;
    justify-content: center;
    align-items: center;
}

#toDoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.toDoElement {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-family: 'Merienda';
    color: #40514E;
    justify-content: left;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.toDoCheckbox {
    -webkit-appearance: none;
    background-color: #E4F9F5;
    color: #E4F9F5;
    border: 1px solid #40514E;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	border-radius: 3px;
}

.toDoCheckbox:active, .toDoCheckbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.toDoCheckbox:checked {
	background-color: #40514E;
	border: 1px solid #40514E;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
    transition: 0.1;
}

.backButton {
    font-size: 25px;
    font-family: 'Merienda';
    background-color: #30E3CA;
    color: #40514E;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s;
}

.backButton:hover {
    background-color: #14b0b6;
    transition: 0.2s;
}

.toDoInput {
    font-size: 25px;
    font-family: 'Merienda';
    color: #40514E;
    justify-content: left;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid #40514E;
    border-radius: 3px;
}

.toDoInput.empty {
    color: #11999E;
}

.toDoInput:focus {
    outline: none;
    border: 2px solid #11999E;
}