body {
    background-color: #fceed1;
    margin: auto;
    max-width: 90%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
  
.header {
    font-size: 50px;
    font-family: 'Merienda';
    color: rgb(47, 38, 38);
    justify-content: center;
    align-items: center;
}

#toDoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.toDoElement {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-family: 'Merienda';
    color: rgb(47, 38, 38);
    justify-content: left;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.toDoCheckbox {
    -webkit-appearance: none;
    background-color: #fceed1;
    color: #fceed1;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	border-radius: 3px;
}

.toDoCheckbox:active, .toDoCheckbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.toDoCheckbox:checked {
	background-color: black;
	border: 1px solid black;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.backButton {
    font-size: 25px;
    font-family: 'Merienda';
    background-color: #284e57;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s;
}

.backButton:hover {
    background-color: #2a6371;
    transition: 0.2s;
}

.toDoInput {
    font-size: 25px;
    font-family: 'Merienda';
    color: rgb(47, 38, 38);
    justify-content: left;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
}

.toDoInput.empty {
    color: #99a1a7;
}