body {
  background-color: #fceed1;
  margin: auto;
  max-width: 90%;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 50px;
  font-family: 'Merienda';
  color: rgb(47, 38, 38);
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.app {
  font-weight: bolder;
  background-color: #2d545e;
  color: aliceblue;
  font-size: 40px;
  font-family: 'Merienda';
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.app:hover {
  background-color: #2a6371;
  transition: 0.2s;
}

